In [2]:
import pandas as pd
import numpy as np

In [3]:
# Defining the tag
audioset_label = '/m/07pbtc8'
cab1 = pd.DataFrame({'YTID':'# YTID, start_seconds, end_seconds, positive_labels'}, index = [0])
cab2 = pd.DataFrame({'YTID':'# num_ytids=Dunno, num_segs=Dunno, num_unique_labels=Dunno, num_positive_labels=Dunno'}, index = [0])
cab3 = pd.DataFrame({'YTID':'# Segments csv adapted from original eval_segments provided by audioset'}, index = [0])

In [18]:
# Reading the train segments CSV
balanced_train_df = pd.read_csv("data/balanced_train_segments.csv", sep='\t', header=None)
balanced_train_df.columns = ['label']

# Subsetting train segments
subset_balanced_train_df = balanced_train_df[balanced_train_df['label'].str.contains(audioset_label, na = False)]

split_data = subset_balanced_train_df['label'].str.split(", ")
data = split_data.to_list()
names = ['YTID', 'start_seconds', 'end_seconds', 'positive_labels']
subset_balanced_train_df = pd.DataFrame(data, columns=names)

# simply concatenate both dataframes
subset_balanced_train_df = pd.concat([cab1, subset_balanced_train_df]).reset_index(drop = True)
subset_balanced_train_df = pd.concat([cab2, subset_balanced_train_df]).reset_index(drop = True)
subset_balanced_train_df = pd.concat([cab3, subset_balanced_train_df]).reset_index(drop = True)

# This cell converts de DataFrame back into a CSV 
subset_balanced_train_df.to_csv(r'D:\Sistemas de Informação\TCC\data\segments\subset_balanced_train_segments.csv', index = False, header=None)
subset_balanced_train_df

                                                 YTID  ...                  positive_labels
0   # Segments csv adapted from original eval_segm...  ...                              NaN
1   # num_ytids=Dunno, num_segs=Dunno, num_unique_...  ...                              NaN
2   # YTID, start_seconds, end_seconds, positive_l...  ...                              NaN
3                                         -2hQKCE-oTI  ...                     "/m/07pbtc8"
4                                         -G_hnfp4a0M  ...            "/m/04rlf,/m/07pbtc8"
..                                                ...  ...                              ...
58                                        rjhreFT66-k  ...            "/m/07pbtc8,/m/09x0r"
59                                        sggM4ikIIBM  ...            "/m/07pbtc8,/m/09x0r"
60                                        uIE6dH5SaNU  ...                     "/m/07pbtc8"
61                                        wcby3DVW57s  ...  "/m/05zppz,/m/07pbtc8,/m/09x0r"
62                                        zokD5rKQkag  ...                     "/m/07pbtc8"

[63 rows x 4 columns]

In [19]:
# Reading the eval segments CSV
eval_df = pd.read_csv("data/eval_segments.csv", sep='\t', header=None)
eval_df.columns = ['label']

# Subsetting eval segments
subset_eval_df = eval_df[eval_df['label'].str.contains(audioset_label, na = False)]

split_data = subset_eval_df['label'].str.split(", ")
data = split_data.to_list()
names = ['YTID', 'start_seconds', 'end_seconds', 'positive_labels']
subset_eval_df = pd.DataFrame(data, columns=names)

# simply concatenate both dataframes
subset_eval_df = pd.concat([cab1, subset_eval_df]).reset_index(drop = True)
subset_eval_df = pd.concat([cab2, subset_eval_df]).reset_index(drop = True)
subset_eval_df = pd.concat([cab3, subset_eval_df]).reset_index(drop = True)

# This cell converts de DataFrame back into a CSV 
subset_eval_df.to_csv(r'D:\Sistemas de Informação\TCC\data\segments\subset_eval_segments.csv', index = False, header=None)
subset_eval_df

                                                 YTID  ...                           positive_labels
0   # Segments csv adapted from original eval_segm...  ...                                       NaN
1   # num_ytids=Dunno, num_segs=Dunno, num_unique_...  ...                                       NaN
2   # YTID, start_seconds, end_seconds, positive_l...  ...                                       NaN
3                                         -0CamVQdP_Y  ...            "/m/04rlf,/m/07pbtc8,/m/09x0r"
4                                         -RKQEJbjXx0  ...                              "/m/07pbtc8"
..                                                ...  ...                                       ...
58                                        v2Ng8iGwf40  ...          "/m/04rlf,/m/07pbtc8,/m/07qdb04"
59                                        wYREdw4nz4E  ...                              "/m/07pbtc8"
60                                        xQCTXqu3tok  ...                     "/m/07pbtc8,/m/09x0r"
61                                        xRI7bHwercI  ...                              "/m/07pbtc8"
62                                        yXeKrbtMz2M  ...  "/m/04rlf,/m/05zppz,/m/07pbtc8,/m/09x0r"

[63 rows x 4 columns]

In [20]:
# Reading the unbalanced segments CSV
unbalanced_train_df = pd.read_csv("data/unbalanced_train_segments.csv", sep='\t', header=None)
unbalanced_train_df.columns = ['label']

# Subsetting unbalanced segments
subset_unbalanced_train_df = unbalanced_train_df[unbalanced_train_df['label'].str.contains(audioset_label, na = False)]

split_data = subset_unbalanced_train_df['label'].str.split(", ")
data = split_data.to_list()
names = ['YTID', 'start_seconds', 'end_seconds', 'positive_labels']
subset_unbalanced_train_df = pd.DataFrame(data, columns=names)

# simply concatenate both dataframes
subset_unbalanced_train_df = pd.concat([cab1, subset_unbalanced_train_df]).reset_index(drop = True)
subset_unbalanced_train_df = pd.concat([cab2, subset_unbalanced_train_df]).reset_index(drop = True)
subset_unbalanced_train_df = pd.concat([cab3, subset_unbalanced_train_df]).reset_index(drop = True)

# This cell converts de DataFrame back into a CSV 
subset_unbalanced_train_df.to_csv(r'D:\Sistemas de Informação\TCC\data\segments\2000max_subset_unbalanced_train_segments.csv', index = False, header=None)
subset_unbalanced_train_df

                                                   YTID  ...                 positive_labels
0     # Segments csv adapted from original eval_segm...  ...                             NaN
1     # num_ytids=Dunno, num_segs=Dunno, num_unique_...  ...                             NaN
2     # YTID, start_seconds, end_seconds, positive_l...  ...                             NaN
3                                           --diQGtdz9Q  ...           "/m/07pbtc8,/m/09x0r"
4                                           -2ni2KI5S5A  ...  "/m/04rlf,/m/07pbtc8,/m/09x0r"
...                                                 ...  ...                             ...
1561                                        zimraU2bmGw  ...          "/m/01yg9g,/m/07pbtc8"
1562                                        zq8c_jVKhcY  ...                    "/m/07pbtc8"
1563                                        zvl4DmtdgdY  ...         "/m/07pbtc8,/t/dd00125"
1564                                        zvmTtzJkcu0  ...           "/m/07pbtc8,/m/09x0r"
1565                                        zwyS3CFHd00  ...                    "/m/07pbtc8"

[1566 rows x 4 columns]

In [5]:
# The tags reference Screaming, Crying, Cough, Snoring, Run, Chewing
audioset_other_labels = '/m/03qc9zr|/m/0463cq4|/m/01b_21|/m/01d3sd|/m/06h7j|/m/03cczk'

# Reading the unbalanced segments CSV
unbalanced_train_1600_df = pd.read_csv("data/unbalanced_train_segments.csv", sep='\t', header=None)
unbalanced_train_1600_df.columns = ['label']

# Subsetting unbalanced segments
subset_unbalanced_train_1600_df = unbalanced_train_1600_df[unbalanced_train_1600_df['label'].str.contains(audioset_other_labels, na = False)]

split_data = subset_unbalanced_train_1600_df['label'].str.split(", ")
data = split_data.to_list()
names = ['YTID', 'start_seconds', 'end_seconds', 'positive_labels']
subset_unbalanced_train_1600_df = pd.DataFrame(data, columns=names)

# simply concatenate both dataframes
subset_unbalanced_train_1600_df = pd.concat([cab1, subset_unbalanced_train_1600_df]).reset_index(drop = True)
subset_unbalanced_train_1600_df = pd.concat([cab2, subset_unbalanced_train_1600_df]).reset_index(drop = True)
subset_unbalanced_train_1600_df = pd.concat([cab3, subset_unbalanced_train_1600_df]).reset_index(drop = True)

# This cell converts de DataFrame back into a CSV 
subset_unbalanced_train_1600_df.to_csv(r'D:\Sistemas de Informação\TCC\segments\max_subset_unbalanced_train_segments.csv', index = False, header=None)
subset_unbalanced_train_1600_df

                                                    YTID  ...                                    positive_labels
0      # Segments csv adapted from original eval_segm...  ...                                                NaN
1      # num_ytids=Dunno, num_segs=Dunno, num_unique_...  ...                                                NaN
2      # YTID, start_seconds, end_seconds, positive_l...  ...                                                NaN
3                                            --04kMEQOAs  ...                                "/m/06h7j,/m/09x0r"
4                                            --6YSADAJ58  ...                                "/m/06h7j,/m/09x0r"
...                                                  ...  ...                                                ...
10405                                        zySuJdkc3TQ  ...    "/m/03k3r,/m/06h7j,/m/09x0r,/m/0jbk,/t/dd00126"
10406                                        zyv9LT8EB4A  ...  "/m/0463cq4,/m/04rlf,/m/09x0r,/t/dd00002,/t/dd...
10407                                        zz03MOxL48Y  ...          "/m/0463cq4,/m/09x0r,/m/0ytgt,/t/dd00125"
10408                                        zzVYJYUPNG8  ...                                "/m/06h7j,/m/09x0r"
10409                                        zzvWbSyZfr0  ...                               "/m/01d3sd,/m/09x0r"

[10410 rows x 4 columns]

In [14]:
import random
sample = random.sample(range(4,10419), 1400)
train_1600_df = pd.DataFrame(subset_unbalanced_train_1600_df)
train_1600_df=train_1600_df.loc[sample]
train_1600_df

              YTID  ...                          positive_labels
6339   _BUgLh893Kw  ...                      "/m/04rlf,/m/06h7j"
8491   n_1blRUJebs  ...                              "/m/01d3sd"
10083  xrinnBnPDfo  ...                              "/m/01b_21"
7194   elPDKalb4Dk  ...  "/m/04rlf,/m/06h7j,/m/09x0r,/t/dd00128"
4206   MmRLGPVScxc  ...         "/m/0463cq4,/m/09x0r,/t/dd00125"
...            ...  ...                                      ...
3764   K1mN4X98Hkc  ...                    "/m/03qc9zr,/m/09x0r"
8302   mKf-qrudeIE  ...  "/m/06h7j,/m/09x0r,/m/0ytgt,/t/dd00128"
147    -_3_gYXwmw0  ...           "/m/06h7j,/m/09x0r,/t/dd00129"
3331   HDMdYNZ0FsI  ...                              "/m/01d3sd"
567    1E_jzLpWNKM  ...                              "/m/01d3sd"

[1400 rows x 4 columns]

In [15]:
# simply concatenate both dataframes
train_1600_df = pd.concat([cab1, train_1600_df]).reset_index(drop = True)
train_1600_df = pd.concat([cab2, train_1600_df]).reset_index(drop = True)
train_1600_df = pd.concat([cab3, train_1600_df]).reset_index(drop = True)

# This cell converts de DataFrame back into a CSV 
train_1600_df.to_csv(r'D:\Sistemas de Informação\TCC\segments\1600max_subset_unbalanced_train_segments.csv', index = False, header=None)
train_1600_df

                                                   YTID  ...                          positive_labels
0     # Segments csv adapted from original eval_segm...  ...                                      NaN
1     # num_ytids=Dunno, num_segs=Dunno, num_unique_...  ...                                      NaN
2     # YTID, start_seconds, end_seconds, positive_l...  ...                                      NaN
3                                           _BUgLh893Kw  ...                      "/m/04rlf,/m/06h7j"
4                                           n_1blRUJebs  ...                              "/m/01d3sd"
...                                                 ...  ...                                      ...
1398                                        K1mN4X98Hkc  ...                    "/m/03qc9zr,/m/09x0r"
1399                                        mKf-qrudeIE  ...  "/m/06h7j,/m/09x0r,/m/0ytgt,/t/dd00128"
1400                                        -_3_gYXwmw0  ...           "/m/06h7j,/m/09x0r,/t/dd00129"
1401                                        HDMdYNZ0FsI  ...                              "/m/01d3sd"
1402                                        1E_jzLpWNKM  ...                              "/m/01d3sd"

[1403 rows x 4 columns]