In [15]:
import pandas as pd
import numpy as np 
from model_utils import * 
import os
from inc_file_names import *

In [7]:
project_dir = "D:/Sistemas de Informação/TCC/"
#project_dir = os.path.dirname(os.path.abspath(__file__))
data_dir = project_dir+'data/'
audioset_indices_csv = project_dir+'segments/subset_class_labels_indices.csv'

In [3]:
indices = pd.read_csv(audioset_indices_csv, sep='\t')
indices

           index;mid;display_name
0  0;/m/07pbtc8;Walking Footsteps

In [4]:
audioset_footsteps_csv = project_dir+'segments/subset_unbalanced_train_segments.csv'
audioset_other_csv = project_dir+ 'segments/1600max_subset_unbalanced_train_segments.csv'

In [6]:
footsteps_df = pd.read_csv(audioset_footsteps_csv, sep='\t', header=None)
other_df = pd.read_csv(audioset_other_csv, sep='\t',header=None)

In [9]:
train_df = footsteps_df.append(other_df[3:])

In [11]:
train_df.to_csv(r'D:\Sistemas de Informação\TCC\segments\2400_subset_unbalanced_train_segments.csv', index = False, header=None)
train_df

                                                      0
0     # Segments csv adapted from original eval_segm...
1     # num_ytids=Dunno, num_segs=Dunno, num_unique_...
2     # YTID, start_seconds, end_seconds, positive_l...
3     --diQGtdz9Q, 30.000, 40.000, "/m/07pbtc8,/m/09...
4     -2ni2KI5S5A, 0.000, 9.000, "/m/04rlf,/m/07pbtc...
...                                                 ...
1398  K1mN4X98Hkc,110.000,120.000,"""/m/03qc9zr,/m/0...
1399  mKf-qrudeIE,30.000,40.000,"""/m/06h7j,/m/09x0r...
1400  -_3_gYXwmw0,30.000,40.000,"""/m/06h7j,/m/09x0r...
1401          HDMdYNZ0FsI,10.000,20.000,"""/m/01d3sd"""
1402        1E_jzLpWNKM,110.000,120.000,"""/m/01d3sd"""

[2966 rows x 1 columns]